{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% csrf_token %}
    <a href="{% url "logout" %}">logout</a>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/atmo.css" %}">
        <title>
            Atmo
        </title>
        <nav class="navbar">
            <ul>
                    <li>Home</li>
                    <li>Account</li>
                    <li>Logout</li>
            </ul>
        </nav>
    </head>
    <body>
        <div>
            <h1 class="title">
                What's the weather like?
            </h1>
        </div>
        <div class="searchbar">
            <form method="POST">
            <input class="input" type="text" placeholder="City Name">
            {% csrf_token %}
            <button>Add city</button>
        </div>
        <div class="container">
            <div class="weathercard">
                {% for weather in weather_data %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title">{{ weather.city }}</span>
                                    <br>
                                    <span class="subtitle">{{ weather.temperature }}° F</span>
                                    <br> {{ weather.description }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
            </div>
        </div>
    </body>
    <footer>
    </footer>
</html>
